{% extends 'adminbase.html.twig' %}

{% block title %}Show Message{% endblock %}

{% block body %}
    <div class="main-content">
        <section class="section">
            <div class="section-header">
                <h1>Message</h1>
            </div>
            <div class="section-body">


                <table class="table">
                    <tbody>
                    <tr>
                        <th>Id</th>
                        <td>{{ message.id }}</td>
                    </tr>
                    <tr>
                        <th>Name</th>
                        <td>{{ message.name }}</td>
                    </tr>
                    <tr>
                        <th>Subject</th>
                        <td>{{ message.subject }}</td>
                    </tr>
                    <tr>
                        <th>Message</th>
                        <td>{{ message.message }}</td>
                    </tr>
                    <tr>
                        <th>Status</th>
                        <td>{{ message.status }}</td>
                    </tr>
                    <tr>
                        <th>Ip</th>
                        <td>{{ message.ip }}</td>
                    </tr>
                    <tr>
                        <th>Note</th>
                        <td>{{ message.note }}</td>
                    </tr>
                    <tr>
                        <th>Created_at</th>
                        <td>{{ message.createdAt ? message.createdAt|date('Y-m-d H:i:s') : '' }}</td>
                    </tr>
                    <tr>
                        <th>Updated_at</th>
                        <td>{{ message.updatedAt ? message.updatedAt|date('Y-m-d H:i:s') : '' }}</td>
                    </tr>
                    </tbody>
                </table>

                <a href="{{ path('admin_message_index') }}">back to list</a>

                <a href="{{ path('admin_message_edit', {'id': message.id}) }}">edit</a>

                {{ include('admin/message/_delete_form.html.twig') }}
            </div>
        </section>
    </div>

    <!-- General JS Scripts -->
    <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.nicescroll/3.7.6/jquery.nicescroll.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.24.0/moment.min.js"></script>
    <script src="public/assets/js/stisla.js"></script>

    <!-- JS Libraies -->

    <!-- Template JS File -->
    <script src="{{asset('assets')}}/js/scripts.js"></script>
    <script src="{{asset('assets')}}/js/custom.js"></script>

    <!-- Page Specific JS File -->
{% endblock %}

